user default off
user admin on >__ADMIN_PW__ ~* &* +@all
user judge on >__JUDGE_PW__ resetkeys resetchannels -@all +hello +ping +client|setinfo (~jobs:* +xreadgroup +xack +xclaim +xautoclaim) (~results +xadd) (&progress:* +publish) (~hb:* +set)
